/* app css stylesheet */


.done-true {
    text-decoration: line-through;
    color: grey;
}

.mean-center-90
{
margin-left:auto;
margin-right:auto;
width:90%;
}

.mean-center-50
{
margin-left:auto;
margin-right:auto;
width:50%;
}