
<div class="pull-right">

</div>

<div>

   <p class="lead"> Home Page </p>

    <p>
        This is a sample application developed to illustrate how to build <em>Single page applications (SPA)</em> using <strong>AngularJS</strong> <br />
        and <strong>ExpressJS</strong>.
    </p>

    <p>
        <strong>Tools used :</strong> <br>
        <ul>
            <li><a href="http://angularjs.org/">AngularJS</a> as client side framework</li>
            <li><a href="http://expressjs.com/">ExpressJS</a> as the web application framework</li>
        </ul>
    </p>
    
</div>

