<div class="container">
	<h3>Home Page</h3>
	<p>
		This is a <a href="http://slashdot.org/topic/bi/node-js-and-mongodb-turn-javascript-into-a-full-stack-language/">full stack</a> 
		JavaScript web application. It is a <em><a href="http://en.wikipedia.org/wiki/Single-page_application">Single page application (SPA)</a></em> 
		backed by a RESTful web server.<br /> JSON is used as the communications protocol between the SPA and the web server.<br /> 
		<a	href="http://blog.auth0.com/2014/01/07/angularjs-authentication-with-cookies-vs-token/">Token-based authentication</a> 
		is used for server side authentication.
	</p>
	<p>
		<strong>References:</strong> <br />
		<ul>		
			<li><a href="http://angularjs.org/">AngularJS</a> as client side framework</li>
			<li><a href="http://expressjs.com/">ExpressJS</a> as the web application framework</li>
			<li><a href="http://nodejs.org/">NodeJS</a> as the server platform</li>
			<li><a href="http://www.mongodb.com/">MongoDB</a> as the NoSQL database</li>
			<li><a href="https://github.com/milewise/mongode/">Mongode</a> as a thin wrapper around the MongoDB Node.JS driver</li>		
			<li><a href="http://angular-ui.github.io/bootstrap/">UI Bootstrap</a> front-end components written in pure AngularJS by the 
				<a href="http://angular-ui.github.io/">AngularUI team</a></li>
			<li><a href="http://getbootstrap.com/">Bootstrap CSS 3.x</a> as the front-end framework</li>
			<li><a href="http://eclipse.org/">Eclipse</a> is used for the development IDE</li>
			<li><a href="https://github.com">GitHub</a> is used for the source repository</li>
		</ul>
	</p>
</div>