

<!-- background-color:#b0e0e6; -->
<div class="center">

	<h3>Home Page</h3>

	<p>
		This web application is written in JavaScript. It is a <em><a
			href="http://en.wikipedia.org/wiki/Single-page_application">Single
				page application (SPA)</a></em> backed by a RESTful web server.<br /> JSON
		is used as the communications protocol between the SPA and the web
		server.<br /> <a
			href="http://blog.auth0.com/2014/01/07/angularjs-authentication-with-cookies-vs-token/">Token-based
			authentication</a> is used for server side authentication.<br />
	</p>
	<br /> <strong>References:</strong> <br /> <br />
	<ul>
		<li><a href="http://angularjs.org/">AngularJS</a> as client side
			framework</li>
		<li><a href="http://expressjs.com/">ExpressJS</a> as the web
			application framework</li>
		<li><a href="http://nodejs.org/">NodeJS</a> as the server
			platform</li>
		<li><a href="http://www.mongodb.com/">MongoDB</a> as the NoSQL
			database</li>
		<li><a href="https://github.com/milewise/mongode/">Mongode</a> as
			a thin wrapper around the MongoDB Node.JS driver</li>
		<li><a href="http://getbootstrap.com/">Bootstrap</a> for CSS
			style sheets</li>
		<li><a href="http://eclipse.org/">Eclipse</a> is used as the
			development IDE</li>
		<li><a href="https://github.com">GitHub</a> is used for the
			source repository</li>

	</ul>

</div>

