<div class="mean-center-90">
	<h3>Hiring Manager</h3>
	<div>
		<strong>Request:</strong> {{ request.name }} <strong>for</strong> {{ request.username }}  <strong>to</strong> IT Manager<br />
		<strong>Action:</strong> {{ request.action.name }}
	</div>
	<br />
	<div>
		Status: <select data-ng-model="category" data-ng-options="category.name for category in categories"></select>
		Currently selected: {{ category }}
	</div>
	<br />
	<div>
		<div class="gridStyle800x300" data-ng-grid="resourceGrid"></div>
		<br />
		<div>
			<h4><strong>Selected Resources</strong></h4> 
			<br />
			<ul>
				<li data-ng-repeat="resource in resourceSelection | filter:filter.name">{{ resource.group }} - {{ resource.description }}</li>
			</ul>
		</div>
	</div>	
		<h4><strong>Notes</strong></h4>
			<textarea rows="6" cols="96">
			</textarea>
		<div>

	</div>
	<br />
	<div class="controls">
      <button class="btn btn-primary" data-ng-disabled="isDisabled" data-ng-model="isDisabled" type="submit">Submit Request</button>   
      <button class="btn btn-primary" data-ng-disabled="isDisabled" data-ng-model="isDisabled" type="save">Save for Later</button> 
      <button class="btn btn-primary" data-ng-disabled="isDisabled" data-ng-model="isDisabled" type="cancel">Backout</button>             
   </div>
            
</div>